[submodule "wlox-api"]
	path = wlox-api
	url = https://github.com/wlox-project/wlox-api.git
[submodule "wlox-auth"]
	path = wlox-auth
	url = https://github.com/wlox-project/wlox-auth.git
[submodule "wlox-cron"]
	path = wlox-cron
	url = https://github.com/wlox-project/wlox-cron.git
[submodule "wlox-frontend"]
	path = wlox-frontend
	url = https://github.com/wlox-project/wlox-frontend.git